@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font: var(--font-geist-sans);
}

.russo-one {
  font-family: var(--font-russo-one), sans-serif;
}

.geist-sans {
  font-family: var(--font-geist-sans), sans-serif;
}

.geist-mono {
  font-family: var(--font-geist-mono), monospace;
}
